@using CTM.Areas.Search.Models
@using CTMLib.Resources
@model IEnumerable<CTM.Areas.Search.Models.EnglishTestViewModels.DisplayEnglishTestsIsLatestViewModel>


@if (Model.Any())
{

    <!-- #region Pagination -->
    var routeValues =
     new
     {
         CCName =ViewBag.CCName,
         CategoryID = ViewBag.CategoryID,
         FromDate = ViewBag.FromDate,
         ToDate = ViewBag.ToDate,
         IsLatest = ViewBag.IsLatest,
         Area = "Search",
     };

    @SharedHelpers.Pagination("Search", "EnglishTests", "search_result_table", "loader",routeValues,ViewBag.Page,ViewBag.TotalPage)

    <!-- #endregion -->

        <div>


            <table class="mdl-data-table mdl-js-data-table ">
                <thead>
                    @EnglishTests.SearchResultIsLatestHelpers.Result_Table_Header_IsLatest()
                </thead>
                <tbody>
                    @foreach (var model in Model)
                    {
                        @EnglishTests.SearchResultIsLatestHelpers.Result_Table_Row_IsLatest(model);
                    }

                </tbody>
            </table>


        </div>

        @SharedHelpers.Pagination("Search", "EnglishTests", "search_result_table", "loader", routeValues, ViewBag.Page, ViewBag.TotalPage)

}
else
{
    <p>@ConstViews.INFO_RecordsNotFound</p>
}


