@{
    ViewBag.Title = "Index";
}

<!-- #region  Manage data partial view -->

<div class="mdl-grid">
    @Html.Partial("_ManageDataPartial")
</div>

<!-- #endregion -->



<div class="englishtest-query-mdl-grid mdl-grid">
    
    <!-- #region Search_Div -->
   @using (Ajax.BeginForm("Search", "EnglishTests", new { area = "Search" }, new AjaxOptions
   {
       HttpMethod = "POST",
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "search_result_table",
       LoadingElementId = "loader",

   },
        new { id = "form_search" }))

   {

        <div class="englishtest-query-mdl-card mdl-card mdl-shadow--2dp">

            <div class="mdl-grid englishtest-query-sub-mdl-grid">
                <div class="mdl-cell mdl-cell--3-col">
                    @*// Name search*@
                    @SharedHelpers.Text_Box_AutoComplete("CCName", "CCName", Resources.Models.ConstModels.CabinCrewName, null)
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                    @* // CategoryNameName search*@
                    @SharedHelpers.DropDown_List("CategoryID", "CategoryID", Resources.Models.ConstModels.Category, null, ViewBag.CategoryID)
                </div>

                <div class="mdl-cell mdl-cell--3-col">
                    @*// FromTime search*@
                    @SharedHelpers.Date_Picker("FromDate", "FromDate", Resources.Models.ConstModels.FromDate)
                </div>

                @*<i class="material-icons" style="margin: auto">arrow_forward</i>*@

                <div class="mdl-cell mdl-cell--3-col">
                    @*// ToTime search*@
                    @SharedHelpers.Date_Picker("ToDate", "ToDate", Resources.Models.ConstModels.ToDate)
                </div>
                <div mdl-grid>
                    @SharedHelpers.Check_Box("IsLatest", "IsLatest", @Resources.Views.ConstViews.EnglishTest_ValidResultOnly)
                </div>
            </div>


            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    @SharedHelpers.Button_Default("Search", null, "search", new { @class = "search_btn" }, true)
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    @SharedHelpers.Button_Default("Download", null, "file_download", new { @class = "search_btn", onclick = "this.form.submit();" }, false)
                </div>

            </div>




        </div>
    }

    <!-- #endregion -->

    <!-- #region Search_Result -->

    <div id="search_result_table" style="width: 100%"></div>
    <!-- #endregion -->

</div>

