
@model CTM.Areas.ManageAccount.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/bundleCss")
    @Styles.Render("~/bundles/bundleCustomizedCSS")
    @Scripts.Render("~/bundles/bundleModernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body style="background-image:url('http://fullhdpictures.com/wp-content/uploads/2016/03/Blur-Backgrounds.jpg')">
    <div class="login-page-mdl-grid mdl-grid">


            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                <div class="login-card-wide mdl-card mdl-shadow--2dp">

                    @Html.AntiForgeryToken()
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">西部航空乘务培训管理系统</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control",@Value="test@test.com" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Value = "TESTtest123!" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border ">
                        <div class="form-control">
                            <input type="submit" value="测试账号登陆" class="btn btn-default " />
                        </div>
                    </div>


                </div>
            }

        </div>



    @*<div class="row">
            <div class="col-md-6">
                <section id="loginForm">
                       <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                            </div>
                        </div>
                        <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                            Enable this once you have account confirmation enabled for password reset functionality
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>
                    }
                </section>
            </div>
            @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @Scripts.Render("~/bundles/bundleJquery")
    @Scripts.Render("~/bundles/bundleBootstrap")
    @Scripts.Render("~/bundles/bundleCustomizedJS")

</body>
</html>
