
@using CTM.Codes.CustomControls.Shared
@using CTM.Codes.Helpers
@using CTMCustomControlLib.CustomControls
@using CTMCustomControlLib.Extensions
@using CTMLocalizationLib.Resources
@model CTM.Areas.ManageAccount.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ConstSettings.WebAppName</title>
    @Styles.Render("~/bundles/bundleCss")
    @Styles.Render("~/bundles/bundleCustomizedCSS")
    @Scripts.Render("~/bundles/bundleModernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
    <body style="background-color:#F9F9F9">
        <nav class="ctm-navbar" style="height: 90px">

            <a class="navbar-brand" href="@Url.Action("Index","Home",new {area="Home"})">CTM</a>

            <!--Progress bar-->
            <div id="@ConstantHelper.LoaderId" class="ctm-progress-bar" style="display: none">
                <div class="indeterminate"></div>
            </div><!--/.Progree bar-->
        </nav>
        <div class="d-flex align-items-center" style="margin-top: 90px;height: calc(100vh - 130px);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.TextBoxGroupFor(o => o.Email, null, new { @Value = "test@test.com" })
                        @Html.PasswordGroupFor(o => o.Password, null, new { @Value = "TESTtest123!" })
                        @Html.CheckBoxGroupFor(o => o.RememberMe)
                        @Html.Button().SetText("Log in").IsSubmitBtn(true).SetColor(ColorOptions.Info)
                    }</div>
                    <div class="col-sm-3"></div>

                </div>
            </div>

        </div>
        <div class="fixed-bottom" style="background-color: grey;height: 40px">
            @{
                var curCulture = Request.Cookies["culture"]?.Value.ToString();
                string culture = "en-NZ";
                string displayText = "EN";
                string returnUrl = Request.Url.AbsoluteUri;
                bool isCurEnglish = curCulture == null || curCulture.Substring(0, 2).ToLower() == "en";
                if (isCurEnglish)
                {
                    culture = "zh-CN";
                    displayText = "中";
                }
            }
            @using (Html.BeginForm("ChangeLanguage", "Account", new { area = "ManageAccount", culture, returnUrl }, FormMethod.Post))
            {
                @Html.Button().SetText(displayText).SetColor(ColorOptions.Default).IsSubmitBtn(true)
            }
        </div>


        @Scripts.Render("~/bundles/bundleJquery")
        @Scripts.Render("~/bundles/bundleBootstrap")
        @Scripts.Render("~/bundles/bundleCustomizedJS")
    </body>
</html>


    @*<div class="row">
            <div class="col-md-6">
                <section id="loginForm">
                       <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                            </div>
                        </div>
                        <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                            Enable this once you have account confirmation enabled for password reset functionality
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>
                    }
                </section>
            </div>
            @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>*@

