@inherits CTM.App_Code.HelperPage
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using CTM.Codes.Helpers


<!-- #region Text_Box_AutoComplete -->

@helper Text_Box_AutoComplete(string name, string id, string labelText, string placeholder)
        {
if (!string.IsNullOrEmpty(labelText))
{
        @Html.Label(labelText, labelText, new { @for = id })
}

    @Html.TextBox(name, null, new { @class = ConstantHelper.CssTextBoxAutoComplete, id = id, placeholder = placeholder ?? "" })

}
<!-- #endregion -->
<!-- #region Date_Picker -->

@helper Date_Picker(string name, string id, string labelText)
        {
if (!string.IsNullOrEmpty(labelText))
{
        @Html.Label(labelText, labelText, new { @for = id })
}
    <input class="datepicker" id=@id name=@name type="date">

}
<!-- #endregion -->
<!-- #region DropDown_List -->

@helper DropDown_List(string name, string id, string labelText, string optionLabel, IEnumerable<System.Web.Mvc.SelectListItem> selectList)
        {

if (!string.IsNullOrEmpty(labelText))
{
        @Html.Label(labelText, labelText, new { @for = id })
}
    @Html.DropDownList(name, (SelectList)selectList, optionLabel ?? "", htmlAttributes: new { id = id })
}
<!-- #endregion -->
<!-- #region Check_Box -->
@helper Check_Box(string name, string id, string labelText)
        {

    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for=@id>
        <input type="checkbox" id=@id class="mdl-checkbox__input" value="true" name=@name>
        <input type="hidden" value="false" name=@name />
        <span class="mdl-checkbox__label">@labelText</span>
    </label>
}
<!-- #endregion -->



