@using CTM.Codes.CustomControls.Shared
@using CTMLib.CustomControls
@using CTMLib.Extensions
@using CTMLib.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ConstSettings.WebAppName</title>
    @Styles.Render("~/bundles/bundleCss")
    @Styles.Render("~/bundles/bundleCustomizedCSS")
    @Scripts.Render("~/bundles/bundleModernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new {area = "Home"})">
                    @*<img alt="Brand" src="~/Images/logo_westair.gif" style="height: 30px;">*@
                    CTM
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("英语", "Index", "EnglishTests", new { area = "Search" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("复训", "Index", "RefresherTrainings", new { area = "Search" }, null)
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <!--Progress bar-->
        <div id="loader" class="progress" style="display:none">
            <div class="progress-bar active " role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                <span class="sr-only">100% Complete</span>
            </div>
        </div><!--/.Progree bar-->
    </nav>
    <div style="margin-top: 130px;background-color:#F9F9F9 ">

        <div class="container" >
            @RenderBody()
        </div>

    </div>


    @* -- Loader Start -- *@

    @*<svg id="loader" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>*@


    @* -- Loader End -- *@

    <!-- #region Message_box_modal -->

    @{
        var body = "<h4>" + ConstViews.INFO_Confirm + "</h4><p>" + ConstViews.INFO_Confirm_String + "</p>";
        var footer = "<a>" + ConstViews.BTN_No + "</a>" +
                     "<a class='btn-yes'>" + ConstViews.BTN_Yes + "</a>";

    }

    @Html.MsgModal()

    <!-- #endregion -->
    <!-- #region mid_size_modal -->

    @Html.DisplayModal()

    <!-- #endregion -->
    <!-- #region Alert -->

    @Html.Alert(text: "").SetAttributes(htmlAttributes: new { id = "alert" })

    <!-- #endregion -->

    @Scripts.Render("~/bundles/bundleJquery")
    @Scripts.Render("~/bundles/bundleJqueryval")
    @Scripts.Render("~/bundles/bundleBootstrap")
    @Scripts.Render("~/bundles/bundleCustomizedJS")
    @RenderSection("scripts", required: false)
</body>
</html>


<script>
    // Methods
    // Event handler when mid size modal is opened.
    function openMidSizeModal() {
        // Open
        $("#mid_size_modal").modal();
        openModal("mid_size_modal", true);
    };


    $(function () {



        //Get all cabin crew names for autocomplete
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCabinCrewNames","CabinCrews", new { area = "ManageData" })"
        }).done(function (data) {

            var returnData = jQuery.parseJSON(data);

            $('#mid_size_modal form input.autocomplete').autocomplete({
                data: returnData
            });
        }).fail(function () {
            console("ajax failed");
        });

        // Del btn click event
        $('#message_box_modal').on("show.bs.modal", function (e) {
            var $invoker = $(e.relatedTarget);
            console.log($invoker);
            $('#message_box_modal').find('.btn-yes').attr('data-url', $invoker.data('url')).attr('data-rowid', $invoker.data('rowid'));

        });


        // Modal del confirm button click event
        $(".btn-yes").on("click",
            function () {
                var data_url = $(this).data("url");
                var data_rowid = $(this).data("rowid");
                $.ajax({
                    type: "GET",
                    url: data_url
                }).done(function (data) {

                    // Del the row if qurested

                    console.log(data_rowid);
                    if (data_rowid !== "undefined") {
                        // If row id is defined,delete the row
                        console.log($("#" + data_rowid));
                        $("#" + data_rowid).css("display", "none");
                    }

                }).fail(function () {
                    console.log("ajax failed");
                });
            });

        // Search button click event
        // Clear current search result
        $(".search_btn").on("click",
            function () {
                $("#search_result_table").empty();
            });


        //Get all cabin crew names

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCabinCrewNames","CabinCrews", new { area = "ManageData" })"
        }).done(function (data) {

            var returnData = jQuery.parseJSON(data);

            $('input.autocomplete').autocomplete({
                data: returnData
            });
        }).fail(function () {
            console("ajax failed");
        });

        // AJAX Global Settings
        $(document).ajaxStart(function () {
            $("#loader").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $("#loader").css("display", "none");
        });

        $(document).ajaxSuccess(function () {
            $("#alert").fadeOut().empty();
        });


        $(document).ajaxError(function (event, jqxhr, settings) {

            console.log(jqxhr);
            console.log(settings);
            // If server effor:
            if (jqxhr.status === 500) {
                showAlert(jqxhr.responseText, "danger");
            } else {
                showAlert(jqxhr.statusText);
            }
        });



    });


</script>