@using CTM.Codes.CustomControls.Shared
@using CTM.Codes.Helpers
@using CTMLib.CustomControls
@using CTMLib.Extensions
@using CTMLib.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ConstSettings.WebAppName</title>
    @Styles.Render("~/bundles/bundleCss")
    @Styles.Render("~/bundles/bundleCustomizedCSS")
    @Scripts.Render("~/bundles/bundleModernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body style="background-color:#F9F9F9" >
    @Html.Alert(text: "").AddCssClass("ctm-alert").SetId(ConstantHelper.AlertId).SetColor(ColorOptions.Warning).Hide()
    <nav class="ctm-navbar">
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="@Url.Action("Index","Home",new {area="Home"})">CTM</a>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown @(Html.IsActiveLink("Search", "EnglishTests", "Index") ? "active " : "")">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ConstModels.EnglishTest
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink(ConstViews.BTN_Search, "Index", "EnglishTests", new { area = "Search" }, new { @class = "dropdown-item" })

                        @Ajax.Button("Upload", "EnglishTests", "ManageData").IsLinkBtn(true).SetText(ConstViews.BTN_Upload).SetOnSuccessFun("openModal('"+ConstantHelper.MidModalId+"',true)").SetUpdateTargetId(ConstantHelper.MidModalContentId)

                        @Ajax.Button("Create", "EnglishTests", "ManageData").IsLinkBtn(true).SetText(ConstViews.BTN_Add).SetOnSuccessFun("openModal('" + ConstantHelper.MidModalId + "',true)").SetUpdateTargetId(ConstantHelper.MidModalContentId)

                    </div>
                </li>
                <li class="nav-item @(Html.IsActiveLink("Search", "RefresherTrainings", "Index") ? "active " : "")">
                    @Html.ActionLink(ConstModels.RefresherTraining, "Index", "RefresherTrainings", new { area = "Search" }, new { @class = "nav-link" })
                </li>
                @Html.Partial("_LoginPartial")

            </ul>
        </div>
        <!--Progress bar-->
        <div id="@ConstantHelper.LoaderId" class="ctm-progress-bar" style="display: none">
            <div class="indeterminate"></div>
        </div><!--/.Progree bar-->
    </nav>

<div class="d-sm-flex align-items-center" style="    height: calc(100vh);
    overflow-y: auto;
    padding-bottom: 90px;
    padding-top: 90px;">

    @RenderBody()
</div>
<div class="fixed-bottom" style="background-color: grey;">
    @{
        var curCulture = Request.Cookies["culture"]?.Value.ToString();
        string culture = "en-NZ";
        string displayText = "EN";
        string returnUrl = Request.Url.AbsoluteUri;
        bool isCurEnglish = curCulture == null || curCulture.Substring(0, 2).ToLower() == "en";
        if (isCurEnglish)
        {
            culture = "zh-CN";
            displayText = "中";
        }
    }
    @using (Html.BeginForm("ChangeLanguage", "Account", new {area = "ManageAccount", culture, returnUrl}, FormMethod.Post))
    {
        @Html.Button().SetText(displayText).SetColor(ColorOptions.Default).IsSubmitBtn(true)
    }
</div>

<!-- #region Message_box_modal -->

@Html.MsgModal()

<!-- #endregion -->
<!-- #region mid_size_modal -->

@Html.MidSizeModal()

<!-- #endregion -->
<!-- #region full_size_modal -->

@Html.FullSizeModal()

<!-- #endregion -->


@Scripts.Render("~/bundles/bundleJquery")
@Scripts.Render("~/bundles/bundleBootstrap")
@Scripts.Render("~/bundles/bundleCustomizedJS")
@RenderSection("scripts", required: false)


<!-- #region Javascript -->
@Html.Partial("_PartialJavaScript")
<!-- #endregion -->
</body>
</html>
