@inherits CTM.App_Code.HelperPage<IEnumerable<CTM.Areas.Search.ViewModels.EnglishTests.SearchResult>>
@using System.Reflection
@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using System.Web.Routing
@using CTM.Areas.Search.ViewModels.EnglishTests
@using CTMLib.Extensions
@using CTMLib.Helpers


<!-- #region Result_Table_Header -->
@helper Result_Table_Header()
{

Dictionary<int, object> tdContentDic = new Dictionary<int, object>()
    {
        {1,Html.DisplayNameFor(o=>o.CabinCrewName)},
         {2,Html.DisplayNameFor(o=>o.Type)},
          {3, Html.DisplayNameFor(o=>o.Grade)},
           {4, Html.DisplayNameFor(o=>o.CategoryName)},
            {5,Html.DisplayNameFor(o=>o.Date)},
    };

    @Html.Table_Row(null, null, tdContentDic, null)
}
<!-- #endregion -->
<!-- #region Result_Table_Row -->

@helper Result_Table_Row(SearchResult item)
{

// Contents
Dictionary<int, object> tdContentDic = new Dictionary<int, object>()
    {
        {1,Html.DisplayValueFor(o=>item.CabinCrewName)},
         {2, Html.DisplayValueFor(o=>item.Type)},
          {3,Html.DisplayValueFor(o=>item.Grade) },
           {4, Html.DisplayValueFor(o=>item.CategoryName)},
            {5,Html.DisplayValueFor(o=>item.Date)},
    };


    <tr id="@item.ID">

        @Html.Table_Row_No_Tr(tdContentDic, null)

        @* Edit & Delete buttons *@
        <td>
            @using (Ajax.BeginForm("Edit", "EnglishTests", new { area = "ManageData", id = item.ID }, new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "mid_size_modal_content",
                LoadingElementId = "loader",
                OnSuccess = "openMidSizeModal",

            }
))
            {
                @SharedHelpers.Button_Icon("Modify", null, "mode_edit", new { @class = ConstantHelper.CssColorFontInfo }, true, false)
            }


            @{
                Dictionary<string, object>
                    htmlAttributesDic = new Dictionary<string, object>
                        ()
                        {
                    { "href" , "#message_box_modal"},
                    { "data-rowid",item.ID},
                    { "data-url",Url.Action("Delete", "EnglishTests", new { area = "ManageData", id = item.ID })},
                    { "class"," btn_del "+ConstantHelper.CssColorFontDanger}
                        };

                @SharedHelpers.Button_Icon("delete", null, "delete", htmlAttributesDic, false, true)
            }

        </td>
    </tr>



}
<!-- #endregion -->
